JWT_SECRET_KEY=0d28516eeb4d318f5e138c88692c0c5128da45de4f5213b8f39dc13008fce91a
JWT_ACCESS_TOKEN_EXPIRES=3600
DATABASE_URL=sqlite:///tareas.db
PORT=5000

# Clave de Resend para enviar emails (regístrate en https://resend.com)
RESEND_API_KEY=api_key_aqui

# URL pública de la app (usada en los emails de recuperación)
APP_URL=http://127.0.0.1:5000